[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/root/Escritorio/arch]
row=0
col=6

[/root/Escritorio/BOOT]
row=1
col=6

[/root/Escritorio/OC]
row=2
col=6

[Papelera]
row=1
col=8

[/]
row=0
col=8

